<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
<!--        Log all data from the loggers in Console-->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
<!--         This appender  will write all data from the loggers in "logs/all.log" file-->
        <File name="all_logs_file" fileName="logs/all.log">
            <PatternLayout>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </PatternLayout>
        </File>
<!--         This appender  will write all warnings and higher severity logs from the loggers in "logs/important.log" file-->
        <File name="important_logs_file" fileName="logs/important.log">
            <Filters>
                <ThresholdFilter level="warn"  onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level = "debug">
            <AppenderRef ref = "console"/>
            <AppenderRef ref = "all_logs_file"/>
            <AppenderRef ref = "important_logs_file"/>
        </Root>
    </Loggers>
</Configuration>